<script type='text/javascript'>
 $(function() {
   Dashing.gridsterLayout('[{"col":2,"row":1,"size_x":1,"size_y":1},{"col":3,"row":1,"size_x":1,"size_y":1},{"col":1,"row":1,"size_x":1,"size_y":1},{"col":3,"row":2,"size_x":1,"size_y":1},{"col":1,"row":2,"size_x":1,"size_y":1},{"col":4,"row":1,"size_x":1,"size_y":1},{"col":2,"row":2,"size_x":1,"size_y":1},{"col":4,"row":2,"size_x":1,"size_y":1}]')
 });
 </script>
<div class="gridster">
  <ul style="min-width: 100%">
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="unassigned-triggered" data-view="Hotness" data-title="Zendesk Unassigned Tickets" data-cool="0" data-warm="50"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="pending-triggered" data-view="Hotness" data-title="Zendesk Pending Tickets" data-cool="0" data-warm="100"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="urgent-triggered" data-view="Hotness" data-title="Zendesk Urgent Tickets" data-cool="0" data-warm="100"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="SFO-Power-triggered" data-view="Hotness" data-title="Alerts: SFO UPS Power" data-cool="0" data-warm="2"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="SFO-Servers-triggered" data-view="Hotness" data-title="Alerts: SFO Servers" data-cool="0" data-warm="2"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Shoretel-triggered" data-view="Hotness" data-title="Alerts: Shoretel" data-cool="0" data-warm="2"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Dashboard-triggered" data-view="Hotness" data-title="Alerts: Dashboard" data-cool="0" data-warm="2"></div>
    </li> 
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Pingdom-triggered" data-view="Hotness" data-title="Alerts: Pingdom" data-cool="0" data-warm="2"></div>
    </li>
   </ul>
 
</div>


