<script type='text/javascript'>
 $(function() {
   Dashing.gridsterLayout('[{"col":2,"row":1,"size_x":1,"size_y":1},{"col":3,"row":1,"size_x":1,"size_y":1},{"col":1,"row":1,"size_x":1,"size_y":1},{"col":3,"row":2,"size_x":1,"size_y":1},{"col":1,"row":2,"size_x":1,"size_y":1},{"col":4,"row":1,"size_x":1,"size_y":1},{"col":2,"row":2,"size_x":1,"size_y":1},{"col":4,"row":2,"size_x":1,"size_y":1}]')
 });
 </script>
<div class="gridster">
  <ul style="min-width: 100%">
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="unassigned-triggered" data-view="Hotness" data-title="Unassigned Tickets" data-cool="0" data-warm="50"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="pending-triggered" data-view="Hotness" data-title="Pending Tickets" data-cool="0" data-warm="100"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="urgent-triggered" data-view="Hotness" data-title="Urgent Tickets" data-cool="0" data-warm="100"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="SFO-Power-triggered" data-view="Hotness" data-title="UPS Power Issue" data-cool="0" data-warm="2"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="SFO-Servers-triggered" data-view="Hotness" data-title="Server Issue" data-cool="0" data-warm="2"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Shoretel-triggered" data-view="Hotness" data-title="Phone Infra Issue" data-cool="0" data-warm="2"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Dashboard-triggered" data-view="Hotness" data-title="Network Issue" data-cool="0" data-warm="2"></div>
    </li> 
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Pingdom-triggered" data-view="Hotness" data-title="ISP Issue" data-cool="0" data-warm="2"></div>
    </li>
   </ul>
 
</div>


