<script type='text/javascript'>
$(function() {Dashing.gridsterLayout('[{"col":1,"row":1,"size_x":1,"size_y":1},{"col":2,"row":1,"size_x":1,"size_y":1},{"col":3,"row":1,"size_x":1,"size_y":1},{"col":4,"row":1,"size_x":1,"size_y":1},{"col":5,"row":1,"size_x":1,"size_y":1},{"col":1,"row":2,"size_x":1,"size_y":1},{"col":2,"row":2,"size_x":1,"size_y":1},{"col":3,"row":2,"size_x":1,"size_y":1},{"col":4,"row":2,"size_x":1,"size_y":1},{"col":5,"row":2,"size_x":1,"size_y":1},{"col":1,"row":3,"size_x":1,"size_y":1},{"col":2,"row":3,"size_x":1,"size_y":1},{"col":3,"row":3,"size_x":1,"size_y":1},{"col":4,"row":3,"size_x":1,"size_y":1},{"col":5,"row":3,"size_x":1,"size_y":1},{"col":6,"row":1,"size_x":1,"size_y":1}]')});
</script>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="SFO-Power-triggered" data-view="Hotness" data-title="SFO UPS Power" data-cool="0" data-warm="2"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="SFO-Servers-triggered" data-view="Hotness" data-title="SFO Servers" data-cool="0" data-warm="2"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Shoretel-triggered" data-view="Hotness" data-title="Shoretel" data-cool="0" data-warm="2"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Dashboard-triggered" data-view="Hotness" data-title="Dashboard" data-cool="0" data-warm="2"></div>
    </li> 
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Pingdom-triggered" data-view="Hotness" data-title="Pingdom" data-cool="0" data-warm="2"></div>
    </li>
   </ul>
</div>
