<script type='text/javascript'>
$(function() {Dashing.gridsterLayout('[{"col":1,"row":1,"size_x":1,"size_y":1},{"col":2,"row":1,"size_x":1,"size_y":1},{"col":3,"row":1,"size_x":1,"size_y":1},{"col":4,"row":1,"size_x":1,"size_y":1},{"col":5,"row":1,"size_x":1,"size_y":1},{"col":1,"row":2,"size_x":1,"size_y":1},{"col":2,"row":2,"size_x":1,"size_y":1},{"col":3,"row":2,"size_x":1,"size_y":1},{"col":4,"row":2,"size_x":1,"size_y":1},{"col":5,"row":2,"size_x":1,"size_y":1},{"col":1,"row":3,"size_x":1,"size_y":1},{"col":2,"row":3,"size_x":1,"size_y":1},{"col":3,"row":3,"size_x":1,"size_y":1},{"col":4,"row":3,"size_x":1,"size_y":1},{"col":5,"row":3,"size_x":1,"size_y":1},{"col":6,"row":1,"size_x":1,"size_y":1}]')});
</script>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="LON7-Cisco-BD-NetBotz-triggered" data-view="Hotness" data-title="LON7-Cisco-BD-NetBotz" data-cool="0" data-warm="2"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="LON7-Meraki-BD-NetBotz-triggered" data-view="Hotness" data-title="LON7-Meraki-BD-NetBotz" data-cool="0" data-warm="2"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="LON7-Meraki-BD-UPS-triggered" data-view="Hotness" data-title="LON7-Meraki-BD-UPS" data-cool="0" data-warm="2"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="SFO-MDF-triggered" data-view="Hotness" data-title="SFO-MDF" data-cool="0" data-warm="2"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="SFO-IDF-3_1-triggered" data-view="Hotness" data-title="SFO-IDF-3_1" data-cool="0" data-warm="2"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="SFO-IDF-3_2-triggered" data-view="Hotness" data-title="SFO-IDF-3_2" data-cool="0" data-warm="2"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="SFO-IDF-4_1-triggered" data-view="Hotness" data-title="SFO-IDF-4_1" data-cool="0" data-warm="2"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="SFO-IDF-4_2-triggered" data-view="Hotness" data-title="SFO-IDF-4_2" data-cool="0" data-warm="2"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="SFO-IDF-5_2-triggered" data-view="Hotness" data-title="SFO-IDF-5_2" data-cool="0" data-warm="2"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="SFO-IDF-5_3-triggered" data-view="Hotness" data-title="SFO-IDF-5_3" data-cool="0" data-warm="2"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="SFO-Servers-triggered" data-view="Hotness" data-title="SFO-Servers" data-cool="0" data-warm="2"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Shoretel-triggered" data-view="Hotness" data-title="Shoretel" data-cool="0" data-warm="2"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="SYD-MDF-triggered" data-view="Hotness" data-title="SYD-MDF" data-cool="0" data-warm="2"></div>
    </li> 
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Dashboard-triggered" data-view="Hotness" data-title="Dashboard" data-cool="0" data-warm="2"></div>
    </li> 
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Pingdom-triggered" data-view="Hotness" data-title="Pingdom" data-cool="0" data-warm="2"></div>
    </li>
   </ul>
</div>
