<script type='text/javascript'>

 $(function() {
   Dashing.gridsterLayout('[{"col":2,"row":1,"size_x":1,"size_y":1},{"col":3,"row":1,"size_x":1,"size_y":1},{"col":1,"row":1,"size_x":1,"size_y":1},{"col":4,"row":1,"size_x":1,"size_y":1}]')
 });
</script>

<div class="gridster">
  <ul style="min-width: 100%">
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="TelePacificPRI-triggered" data-view="Meter" data-title="TelePacific PRI" data-min='0', data-max='100'></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Telepacific-PRI-DC-triggered" data-view="Meter" data-title="TelePacific PRI DC" data-min='0', data-max='100'></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="BTPRI-triggered" data-view="Meter" data-title="BT PRI" data-min='0', data-max='100'></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Anticlockwise-PRI-triggered" data-view="Meter" data-title="Anticlockwise PRI" data-min='0', data-max='100'></div>
    </li>
   </ul>
 
</div>


