<script type='text/javascript'>
$(function() {Dashing.gridsterLayout('[{"col":3,"row":2,"size_x":1,"size_y":1},{"col":3,"row":1,"size_x":1,"size_y":1},{"col":1,"row":1,"size_x":2,"size_y":2}]')});
</script>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="unassigned-triggered" data-view="Hotness" data-title="Unassigned Tickets" data-cool="0" data-warm="50"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="pending-triggered" data-view="Hotness" data-title="Pending Tickets" data-cool="0" data-warm="100"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="urgent-triggered" data-view="Hotness" data-title="Urgent Tickets" data-cool="0" data-warm="100"></div>
    </li>
   </ul>
</div>
